* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    font-family: 'Varela Round', sans-serif;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

h6 {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

img {
    /* border: 1px solid gray; */
    border-radius: 50px;
    box-shadow: 0 0px 5px;

    background-color: hsl(0, 0%, 95%);
    padding: 20px;
    height: 200px;
    width: 200px;
}


#card {
    margin: 100px;
    
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray , 10px 5px 15px gray;

    background-color: hsl(120, 20%, 88%);

    padding: 35px;
    height: 500px;
    width: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all 500ms;
}

#card:hover {
    transform: translateY(20px);
}

#card-header {
    text-align: center;
}


#stats {
    display: flex;
    flex-direction: column;
}

#prompt {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
}



